{{ define "main" }}

<main>
    <div class="homepage">
        
        <div class="row">
            <div class="col-sm-12">
                <h1>
                    <span class="minor_line">Data Science, Mathematical Modeling, and Complexity</span>
                    <!-- <hr> -->
                    <!-- <br> -->
                    <!-- <span class="major_line">Eric Peña</span> -->
                    <!-- <img src="images/machine_learning_flashcards/traffic.gif" class="img-responsive" alt="."> -->
                    <br>
                    <!-- <span class="minor_line"><b><mark>UNDER CONSTRUCTION</mark></b></span> -->
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 blurb">
                <p>
                    <center>Welcome.</center>
                    <center><code>pena.eng.physics@gmail.com</code></center>
                </p>
            </div>
        </div>
<!-----------------------------------------------------------------------------
                                Mathematical Musings
------------------------------------------------------------------------------>
        <!-- <img src="images/machine_learning_flashcards/notes_img_lines.png" width="400" class="img-responsive" alt="."> -->
        <!-- <div class="row" id="notes">
            <div class="col-sm-12">
                <h3 class="category_header">Learning</h3>
            </div>
        </div> -->

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <h4 class="card-header">mathematical musings</h4>
                    <div class="card-body">
                        <ul>
                            {{ $section := site.GetPage "musings" }}
                            {{ with $section }}
                                {{ range .Pages }}
                                    <li style="list-style-type: '●  '"><a href="{{.Permalink}}" style="text-transform:lowercase">{{.Title}}</a></li>
                                {{ end }}
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <h4 class="card-header">learnings</h4>
                    <div class="card-body">
                        <ul>
                            {{ $section := site.GetPage "learning" }}
                            {{ with $section }}
                                {{ range .Pages }}
                                <li style="list-style-type: '◎  '"><a href="{{.Permalink}}" style="text-transform:lowercase">{{.Title}}</a></li>
                                {{ end }}
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <h4 class="card-header">articles</h4>
                    <div class="card-body">
                        <ul>
                            {{ $section := site.GetPage "articles" }}
                            {{ with $section }}
                                {{ range .Pages }}
                                <li style="list-style-type: '◉  '"><a href="{{.Permalink}}" style="text-transform:lowercase">{{.Title}}</a></li>
                                {{ end }}
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
<!-----------------------------------------------------------------------------
                                ARTICLES
------------------------------------------------------------------------------>
        <!-- <div class="row" id="notes">
            <div class="col-sm-12">
                <h3 class="category_header">Articles</h3>
            </div>
        </div> -->

        <!-- <div class="row" id="articles">
            <div class="col-sm-12">
                <h3 class="category_header">Articles <a style="float: right;" href="{{ .Site.BaseURL }}/about/eric_pena.html">Bio</a>
                </h3>
            </div>
        </div> -->

        <!-- <img src="images/machine_learning_flashcards/traffic.gif" class="img-responsive" alt="."> -->
        <!-- <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="article_list card-body">
                        <ul>
                            {{ $section := site.GetPage "articles" }}
                            {{ with $section }}
                                {{ range .Pages }}
                                    <li><a href="{{.Permalink}}">{{.Title}}</a></li>
                                {{ end }}
                            {{ end }}
                        </ul>
                        <ul>
                            {{ $section := site.GetPage "projects" }}
                            {{ with $section }}
                                {{ range .Pages }}
                                    <li><a href="{{.Permalink}}">{{.Title}}</a> ··· ({{ .Date | time.Format ":date_medium" }})</li>
                                {{ end }}
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- <img src="images/machine_learning_flashcards/notes_img_clusters.png" width="400" class="img-responsive" alt="."> -->
<!-----------------------------------------------------------------------------
                                END
------------------------------------------------------------------------------>        
    </div>
</main>
{{ end }}